.postArticle {
    --container-width: 1120px;

    word-break: break-word;
}

.postHeader {
    margin: clamp(40px, 3.64vw + 25.45px, 72px) 0 40px;
}

.postTag {
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--ghost-accent-color);
}

.postTitle {
    font-size: calc(clamp(2.125rem, 1.36vw + 1.78125rem, 2.875rem) * var(--factor, 1));
    line-height: 1.1;
    letter-spacing: .0.022em;
}

.postExcerpt {
    margin-top: clamp(12px, 0.45vw + 10.18px, 16px);
    max-width: 720px;
    font-size: clamp(1.0625rem, 0.23vw + 1.00625rem, 1.1875rem);
    line-height: 1.45;
    letter-spacing: -0.018em;
}

.postArticle .meta {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    margin-left: 6px;
}

.postArticle .author-image {
    display: flex;
    margin-right: 8px;
}

.postArticle .author-image a {
    position: relative;
    margin: 0 -8px;
    width: 56px;
    height: 56px;
    overflow: hidden;
    background-color: var(--color-light-gray);
    border-radius: 50%;
    border: 3px solid var(--background-color);
}

.postArticle .author-image a:first-child {
    z-index: 10;
}

.postArticle .author-image a:nth-child(2) {
    z-index: 9;
}

.postArticle .author-image a:nth-child(3) {
    z-index: 8;
}

.postArticle .author-image :is(img, svg) {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postArticle .meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.postArticle .author-name {
    font-size: 1.6rem;
    font-weight: 650;
    letter-spacing: -0.013em;
}

.postArticle .meta-content {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .0.006em;
    color: var(--color-secondary-text);
}

.postFeatureImage {
    grid-column: wide;
    margin-top: 40px;
}

.postFeatureImage img {
    width: 100%;
}

/* 15. Content
/* ---------------------------------------------------------- */

/* Content refers to styling all page and post content that is
created within the Ghost editor. The main content handles
headings, text, images and lists. We deal with cards lower down. */

.postContent {
    font-size: var(--content-font-size, 1.0625rem);
    letter-spacing: -0.01em;
}


/* Default vertical spacing */
.postContent>*+* {
    margin-top: calc(28px * var(--content-spacing-factor, 1));
    margin-bottom: 0;
}

/* Remove space between full-width cards */
.postContent>.kg-width-full+.kg-width-full:not(.kg-width-full.kg-card-hascaption + .kg-width-full) {
    margin-top: 0;
}

/* Add back a top margin to all headings,
unless a heading is the very first element in the post content */
.postContent>[id]:not(:first-child) {
    margin-top: calc(56px * var(--content-spacing-factor, 1));
}

/* Add drop cap setting */
.postContent .drop-cap>p:first-of-type:first-letter {
    margin: 0 0.2em 0em 0;
    font-size: 3.1em;
    float: left;
    line-height: 1;
    margin-left: -1px;
    font-weight: 700;
}

.has-serif-body.post-template:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent .drop-cap>p:first-of-type:first-letter {
    font-size: 3.2em;
}

/* Add a small margin between a heading and paragraph after it */
.postContent>[id]+p {
    margin-top: calc(12px * var(--content-spacing-factor, 1));
}

/* A larger margin before/after dividers, blockquotes and embeds */
.postContent> :is(hr, blockquote, iframe) {
    position: relative;
    margin-top: calc(48px * var(--content-spacing-factor, 1)) !important;
}

.postContent> :is(hr, blockquote, iframe)+* {
    margin-top: calc(48px * var(--content-spacing-factor, 1)) !important;
}

/* Now the content typography styles */
.postContent h1 {
    font-size: calc(2.2em * var(--factor, 1));
    letter-spacing: -0.02em;
}

.postContent h2 {
    font-size: calc(1.6em * var(--factor, 1));
    letter-spacing: -0.02em;
}

.postContent h3 {
    font-size: calc(1.3em * var(--factor, 1));
    letter-spacing: -0.017em;
}

.postContent a {
    color: var(--ghost-accent-color);
    text-decoration: underline;
}

.postContent .kg-callout-card .kg-callout-text,
.postContent .kg-toggle-card .kg-toggle-content> :is(ul, ol, p) {
    font-size: 0.95em;
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent>blockquote,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent>ol,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent>ul,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent>dl,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent>p,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent .kg-callout-text,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent .kg-toggle-content>ol,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent .kg-toggle-content>ul,
.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .postContent .kg-toggle-content>p {
    font-family: var(--font-serif-alt);
}

.postContent :is(ul, ol) {
    padding-left: 28px;
}

.postContent :is(li + li, li :is(ul, ol)) {
    margin-top: 8px;
}

.postContent ol ol li {
    list-style-type: lower-alpha;
}

.postContent ol ol ol li {
    list-style-type: lower-roman;
}

.postContent hr {
    width: 100%;
    height: 1px;
    background-color: var(--color-border);
    border: 0;
}

.postContent .gh-table {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.postContent .gh-table table {
    width: 100%;
    font-family: var(--font-sans);
    font-size: 1.5rem;
    white-space: nowrap;
    vertical-align: top;
    border-spacing: 0;
    border-collapse: collapse;
}

.postContent .gh-table table th {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-darkgrey);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.postContent .gh-table table :is(th, td),
.postContent .gh-table table td {
    padding: 6px 12px;
    border-bottom: 1px solid var(--color-border);
}

.postContent .gh-table table :is(th, td):first-child {
    padding-left: 0;
}

.postContent .gh-table table :is(th, td):last-child {
    padding-right: 0;
}

.postContent pre {
    overflow: auto;
    padding: 16px;
    font-size: 1.5rem;
    line-height: 1.5em;
    background: var(--color-lighter-gray);
    border-radius: 6px;
    font-family: var(--font-mono);
}

.postContent :not(pre)>code {
    vertical-align: baseline;
    padding: 0.15em 0.4em;
    font-weight: 400;
    font-size: 0.95em;
    line-height: 1em;
    background: var(--color-lighter-gray);
    border-radius: 0.25em;
    font-family: var(--font-mono);
}

/* 16. Cards
/* ---------------------------------------------------------- */

/* Add extra margin before/after any cards, except for when immediately preceeded by a heading */

.postContent :not(.kg-card):not(table):not([id])+ :is(.kg-card, table) {
    margin-top: calc(48px * var(--content-spacing-factor, 1));
}

.postContent :is(.kg-card, table)+ :not(.kg-card):not(table):not([id]) {
    margin-top: calc(48px * var(--content-spacing-factor, 1));
}

.postContent :not(.kg-card):not([id])+.kg-card.kg-width-full {
    margin-top: calc(68px * var(--content-spacing-factor, 1));
}

.postContent .kg-card.kg-width-full+ :not(.kg-card):not([id]) {
    margin-top: calc(68px * var(--content-spacing-factor, 1));
}

/* Image */

.kg-image {
    margin-right: auto;
    margin-left: auto;
}

/* Embed */

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Gallery */

.kg-image[width][height],
.kg-gallery-image {
    cursor: pointer;
}

.kg-image-card a:hover,
.kg-gallery-image a:hover {
    opacity: 1 !important;
}

/* Toggle */

.kg-card.kg-toggle-card .kg-toggle-heading-text {
    font-size: 2rem;
    font-weight: 700;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-serif);
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-mono);
}

/* Callout */

.kg-callout-card.kg-card {
    border-radius: 0.25em;
}

.kg-callout-card-accent a {
    text-decoration: underline;
}


/* Button */

.kg-card.kg-button-card .kg-btn {
    height: unset;
    padding: .6em 1.2em;
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
}

/* Header */

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-card.kg-header-card h2.kg-header-card-header {
    font-family: var(--font-serif);
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-card.kg-header-card h2.kg-header-card-header {
    font-family: var(--font-mono);
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .kg-header-card h3.kg-header-card-subheader {
    font-family: var(--font-serif);
}

/* Bookmark */

.kg-bookmark-card .kg-bookmark-container {
    border-radius: 0.25em !important;
}

.kg-bookmark-card .kg-bookmark-container:hover {
    opacity: 1;
}

.kg-bookmark-card a.kg-bookmark-container,
.kg-bookmark-card a.kg-bookmark-container:hover {
    background: var(--background-color) !important;
    color: var(--color-darker-gray) !important;
}

.kg-bookmark-card .kg-bookmark-content {
    padding: 1.15em;
}

.kg-bookmark-card .kg-bookmark-title {
    font-size: 0.9em;
}

.kg-bookmark-card .kg-bookmark-description {
    max-height: none;
    margin-top: 0.3em;
    font-size: 0.8em;
}

.kg-bookmark-card .kg-bookmark-metadata {
    font-size: 0.8em;
}

.kg-bookmark-card .kg-bookmark-thumbnail img {
    border-radius: 0 0.2em 0.2em 0;
}

/* Product */

.kg-product-card.kg-card .kg-product-card-image {
    margin-bottom: 12px;
}

.kg-product-card.kg-card a.kg-product-card-button {
    height: 2.8em;
    margin-top: 12px;
}

.has-serif-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-product-card.kg-card .kg-product-card-title {
    font-family: var(--font-serif);
}

.has-mono-title:not([class*=" gh-font-heading"]):not([class^="gh-font-heading"]) .kg-product-card.kg-card .kg-product-card-title {
    font-family: var(--font-mono);
}

.has-serif-body:not([class*=" gh-font-body"]):not([class^="gh-font-body"]) .kg-product-card-description :is(p, ul, ol) {
    font-family: var(--font-serif-alt);
}

/* File */

.kg-file-card.kg-card .kg-file-card-container {
    padding: 0.6em;
}

.kg-file-card.kg-card .kg-file-card-contents {
    margin: 4px 8px 6px;
}

.kg-file-card.kg-card .kg-file-card-metadata {
    font-size: 0.9em;
}

.kg-file-card.kg-card .kg-file-card-filesize::before {
    margin-right: 6px;
    margin-left: 6px;
}