@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover,
button:hover {
  cursor: pointer;
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold mb-4;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold mb-3;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold mb-3;
  }

  h4 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold mb-2;
  }

  h5 {
    @apply text-lg md:text-xl lg:text-2xl font-bold mb-2;
  }

  h6 {
    @apply text-base md:text-lg lg:text-xl font-bold mb-2;
  }
}

.floating-menu {
  display: flex;
  background-color: transparent;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.floating-menu button {
  border: none;
  background: none;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 0 0.2rem;
  opacity: 1;
  color: #0D0D0D;
}

.floating-menu button:hover {
  color: #000;
}

.floating-menu .is-active {
  color: #000;
}